.msg-card {
  &:not(:nth-last-of-type(1)) .footer {
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
  }
  .header {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        margin-right: 18px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      .name {
        font-size: 14 px;
        color: rgba(0, 0, 0, 0.45);
      }
      .new {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.9);
        .from {
          margin-left: 8px;
          line-height: 24px;
          font-size: 24px;
        }
      }
    }
    .right {
      button {
        padding: 10px 0;
        width: 128px;
        border-radius: 29px;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.9);
        line-height: 29px;
        &.follow {
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.15);
        }
        &.re-follow {
          font-size: 14px;
          background: rgba(0, 0, 0, 0.04);
          border: 1px solid rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
  .content-box {
    .awesome,
    .appoint,
    .review {
      margin-left: 60px;
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.9);
      span {
        margin-left: 20px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.25);
      }
      .comment {
        margin-left: 16px;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 40px;
      }
    }

    .doc {
      margin-left: 60px;
      padding: 24px 20px;
      background: rgba(0, 0, 0, 0.04);
      .content {
        display: flex;
        align-items: center;
        img {
          margin-right: 34px;
          width: 64px;
          height: 64px;
        }
        .title {
          font-size: 18px;
          color: rgba(0, 0, 0, 0.45);
          // line-height: 40px;
        }
      }
      .planet {
        margin-top: 24px;
        display: flex;
        align-items: center;
        .icon {
          margin-right: 16px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        span {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.9);
        }
      }
    }
    .follow {
      margin-left: 60px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.9);
      span {
        margin-left: 32px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }
  .footer {
    padding-bottom: 12px;
    margin-bottom: 12px;
    margin-left: 60px;
    .time {
      margin-top: 14px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.45);
    }
    .tool {
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .talk,
      .approval {
        margin-right: 48px;
      }
      .talk,
      .approval,
      .share {
        display: flex;
        align-items: center;
      }
      .icon {
        margin-right: 12px;
        width: 26px;
        height: 26px;
      }
    }
  }
}
