.mine {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #fff;
  .layout {
    padding-top: 50px;
  }
  .community-container {
    display: flex;
    align-items: flex-start;
    margin: 40px auto 60px;
    width: 1200px;
    background-color: #fff;
    .personal-aside {
      position: fixed;
      z-index: 1;
      flex-shrink: 0;
      margin-right: 30px;
      width: 300px;
    }
    .personal-nav {
      padding: 35px 0;
      border-top: 2px solid #ffe000;
      background-color: #f7f7fa;
    }
    .info-area {
      margin: 0 40px 20px;
      .personal-top {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        .avatar {
          position: relative;
          display: inline-block;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
          }
        }
        .top-right {
          margin-left: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        .account-link {
          color: #2c2e3b;
          text-decoration: none;
          cursor: pointer;
        }
      }
      .personal-name {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
        .name {
          display: inline-block;
          max-width: 180px;
          vertical-align: middle;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .personal-privilege {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
        .personal-intro {
          margin-bottom: 5px;
          font-size: 12px;
        }
      }
      .personal-data {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .data-item {
          width: 30px;
          text-align: center;
          line-height: 20px;
          .data-name {
            color: #7e869d;
          }
        }
        .data-line {
          margin: 0 10px;
          width: 2px;
          height: 25px;
          background-color: #ebecf1;
        }
      }
    }
    .personal-main {
      margin-left: 340px;
      width: 860px;
      min-height: 1000px;
    }
    .data-section {
      .data-title {
        margin: 0 0 20px 0;
        font-size: 20px;
      }
    }
    .section-main {
      display: flex;
      .data-list {
        display: flex;
        width: 660px;
        .data-item {
          width: 25%;
          text-align: center;
        }
        .data-name {
          margin-bottom: 10px;
          font-size: 18px;
          color: #7e869d;
        }
        .data-number {
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
    .content-section {
      position: relative;
      margin-top: 60px;
    }
  }
}
