.mine {
  width: 1120px;

  .tag-wrapper {
    padding: 14px 32px;
    box-shadow: inset 0px 1px 0px #EAEAEA;
    margin-top: -10px;
    margin-bottom: 10px;
    background: #fff;

    .item {
      margin-right: 56px;
      font-size: 16px;
      line-height: 22px;
      color: #5C6573;
      cursor: pointer;

      &.active {
        color: #ED7656;
      }
    }
  }

  .mine-left {
    margin-right: 10px;
    width: 276px;
    background: #fff;

    .item {
      padding: 24px 38px;
      cursor: pointer;

      .count {
        margin-left: auto;
      }

      > span {
        font-size: 16px;
        line-height: 22px;
        color: #191919;
      }

      &.active {
        position: relative;

        > span {
          color: #ED7656;

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 10px;
            height: 100%;
            background: #ED7656;
          }
        }

      }
    }
  }

  .mine-right {
    width: 834px;
    background: #fff;
  }
}
