.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mine {
  .header {
    padding: 32px;
    display: flex;
    align-items: center;
    background-color: #fff;
    .avatar {
      margin-right: 32px;
      width: 104px;
      height: 104px;
      img {
        width: 104px;
        height: 104px;
        border-radius: 50%;
      }
    }
    .name-card {
      display: flex;
      flex-direction: column;

      .name {
        margin-bottom: 8px;
        font-size: 36px;
        color: rgba(0, 0, 0, 0.9);
      }
      .desc {
        display: flex;
        align-items: center;
        font-size: 28px;
        color: rgba(0, 0, 0, 0.25);
      }
      .icon {
        margin-top: 5px;
        margin-left: 22px;
        width: 26px;
        height: 26px;
      }
    }
    .btn-box {
      padding-bottom: 30px;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      button {
        // width: 140px;
        padding: 0 30px;
        height: 56px;
        font-size: 24px;
        line-height: 24px;
        border-radius: 28px;
        color: rgba(0, 0, 0, 0.9);
      }
      & .edit {
        margin-right: 120px;
        background: rgba(0, 0, 0, 0.04);
      }
      & .appoint {
        margin-right: 32px;
        background-color: #ffdd27;
      }
    }
  }
  .data-board {
    padding: 32px;
    display: flex;
    .item {
      display: flex;
      flex-direction: column;
      &:not(:nth-last-of-type(1)) {
        margin-right: 64px;
      }
      .name {
        margin-bottom: 10px;
        font-size: 28px;
        color: rgba(0, 0, 0, 0.9);
      }
      .data {
        font-size: 28px;
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }
  .logout {
    margin-right: 32px;
    padding: 0 30px;
    // width: 140px;
    height: 56px;
    border-radius: 28px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 24px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9);
    background-color: #fff;
  }
  .header-footer {
    background-color: #fff;
    border-bottom: 20px solid rgba(0, 0, 0, 0.04);
  }
  .card-list {
    padding: 32px;
    background-color: #fff;
  }
  .editDialog {
    height: 100%;
    margin-top: 28px; //28px
    .title-box {
      padding: 0 32px;
      display: flex;
      justify-content: space-between;
      font-size: 32px;
      color: rgba(0, 0, 0, 0.45);
      .title {
        font-size: 32px;
        color: rgba(0, 0, 0, 0.9);
      }
      .confirm {
        color: rgba(0, 0, 0, 0.9);
      }
    }
    .input-box {
      margin: 30px 32px;
      height: 100%;
    }
    /deep/ .van-cell.van-field {
      height: 100%;
      padding: 0;
      .van-field__body {
        height: 80%;
        .van-field__control {
          height: 100%;
          padding: 0.2133333333333333rem;
          font-size: 0.3733333333333333rem;
          background: rgba(0, 0, 0, 0.04);
        }
      }
    }
  }
}
