.index-detail {
  .layout {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #fff;
    .layout-main {
      margin: 0 auto;
      padding: 50px 50px 0 50px;
    }
    .tweet-container {
      display: flex;
      align-items: flex-start;
      margin: 40px auto 60px;
      width: 900px;
    }
    .tweet-article {
      width: 900px;
      min-height: 300px;
      .article-title {
        margin: 0 0 15px;
        font-size: 30px;
      }
      .article-info {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 14px;
        .article-avatar {
          margin-right: 10px;
          width: 30px;
          height: 30px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
        .article-author {
          color: #2c2e3b;
        }
        .article-date {
          margin-left: 5px;
          color: #afb3ba;
        }
      }
      .article-planet {
        font-size: 14px;
        color: #2c2e3b;
        a {
          margin-left: 10px;
          color: #317ee7;
          cursor: pointer;
        }
      }
      .article-content {
        margin-top: 40px;
        font-size: 16px;
        color: #2c2e3b;
        word-break: break-word;
        line-height: 30px;
        /deep/ p {
          margin-top: 0;
          margin-bottom: 30px;
        }
        /deep/ img {
          max-width: 600px !important;
          display: block;
          margin: 0 auto;
        }
        /deep/ .img_wrapper {
          text-align: center;
          margin-bottom: 30px;
          .img_descr {
            font-size: 14px;
            color: #999;
          }
        }
      }
      .comments-section {
        .section-title {
          margin: 0 0 30px;
          font-size: 22px;
        }
        .comment-container {
          margin: 20px 0 40px 0;
        }
        .comments-list {
          margin: 0;
          padding: 0;
          list-style: none;
          .comment-item {
            margin-bottom: 0;

            .author-avatar {
              float: left;
              width: 30px;
              height: 30px;
              border-radius: 15px;
              img {
                width: 30px;
                height: 30px;
                border-radius: 15px;
              }
            }
            .comment-main {
              margin-left: 40px;
              padding-bottom: 30px;
              border-bottom: 1px solid #f2f2f2;
            }
            &:last-of-type .comment-main {
              border: none;
            }
            .comment-header {
              line-height: 30px;
              color: #2c2e3b;
              .comment-time {
                color: #afb3ba;
              }
            }
            .comment-content {
              margin: 10px 0 15px;
              word-break: break-word;
            }
            .comment-footer {
              display: flex;
              color: #afb3ba;
              .footer-button {
                margin-right: 40px;
                cursor: pointer;
              }

              .like-simple {
                display: inline-block;
                cursor: pointer;
              }
              .iconfont {
                margin-right: 5px;
              }
            }
            .reply-container {
              margin-top: 30px;
              padding-left: 18px;
              border-left: 3px solid #f2f2f2;
            }
          }
        }
      }
    }
  }
}

/deep/ .input-item {
  .el-dialog__header {
    padding: 10px;
    border-bottom: 1px solid #ebecf1;
    .el-dialog__headerbtn {
      top: 15px;
      .el-dialog__close {
        font-size: 20px;
      }
    }
  }
  .comment-editor {
    .editor {
      position: relative;
      padding: 10px;
      margin-bottom: 15px;
      background-color: #fff;
      border: 1px solid #ebecf1;
      border-radius: 6px;
      .el-textarea {
        min-height: 100px;
        max-height: 160px;
        line-height: 20px;
        textarea {
          outline: none;
          overflow-y: auto;
          border: none;
          resize: none;
        }
      }
    }
    .editor-function {
      display: flex;
      justify-content: flex-end;
      .el-button {
        padding: 0;
        width: 100px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        border-radius: 4px;
        background-color: #ffe000;
        color: #2c2e3b;
        border: none;
        &.empty {
          opacity: 0.5;
        }
        &:hover:not(.empty) {
          background-color: #f7b705;
        }
      }
    }
  }
}
