.index {
  background-color: #fff;
}

::-webkit-scrollbar{ // 直接复制黏贴到样式页.css，完美解决
	display: none;
   /* background-color:transparent; */
}

/deep/ .van-skeleton{
  padding-top: 0.4266666666666667rem;
}