.message {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #fff;
  .layout {
    padding-top: 50px;
  }
  .community-container {
    display: flex;
    align-items: flex-start;
    margin: 40px auto 60px;
    width: 1200px;
    background-color: #fff;
    .community-main {
      flex-shrink: 0;
      width: 860px;
      .card-list {
        display: flex;
        flex-direction: column;
      }
      .infinite-list {
        li {
          // cursor: pointer;
        }
      }
    }
    .community-aside {
      flex-shrink: 0;
      margin-left: auto;
      width: 300px;
      background-color: #000;
    }
  }
  // .msg-sub {
  //   margin-bottom: 48px;
  //   display: flex;
  //   justify-content: space-between;
  //   padding: 0 32px;
  //   .item {
  //     display: flex;
  //     flex-direction: column;
  //     text-align: center;
  //     .img {
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //       width: 104px;
  //       height: 104px;
  //       border-radius: 18px;
  //       background: rgba(0, 0, 0, 0.04);
  //       &.active {
  //         background: #ffdd27;
  //       }
  //       .icon {
  //         width: 46px;
  //         height: 46px;
  //       }
  //     }
  //     .msg-name{
  //       margin-top: 5px;
  //       font-size: 28px;
  //     }
  //   }
  // }
  // .list {
  //   padding: 0 32px;
  // }
}
