.message {
  background-color: #fff;
  .msg-sub {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    .item {
      display: flex;
      flex-direction: column;
      text-align: center;
      .img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 104px;
        height: 104px;
        border-radius: 18px;
        background: rgba(0, 0, 0, 0.04);
        &.active {
          background: #ffdd27;
        }
        .icon {
          width: 46px;
          height: 46px;
        }
      }
      .msg-name{
        margin-top: 5px;
        font-size: 28px;
      }
    }
  }
  .list {
    padding: 0 32px;
  }
}
