.planet {
  flex-shrink: 0;
  padding-top: 420px;
  width: 100%;

  .planet-header {
    position: absolute;
    left: 0;
    top: 64px;

    .bg {
      width: 1920px;
      height: 154px;
    }

    .avatar {
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      width: 134px;
      height: 134px;
      border-radius: 50%;
      border: 5px solid #fff;
      background: #fff;
    }

    .title {
      margin-top: 30px;
      margin-bottom: 16px;

      .name {
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        color: #191919;
      }

      .vip {
        margin-left: 8px;
        width: 16px;
        height: 16px;
      }
    }

    .intro {
      margin: 0 auto 32px;
      width: 800px;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      color: #5C6573;
    }

    .data {
      width: 200px;
      margin: 0 auto 26px;

      .author, .fans {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 8px;
          left: 100px;
          height: 24px;
          width: 1px;
          background: #929DA5;
        }
      }

      .author, .fans, .posts {
        .label {
          margin-bottom: 4px;
          font-size: 12px;
          line-height: 17px;
          color: #576073;
        }

        .count {
          font-size: 14px;
          line-height: 20px;
          color: #141B29;
        }
      }
    }

    .join {
      font-size: 14px;
      padding: 10px 30px;
      color: #fff;
      background: #ED7656;
      border: 1px solid #ED7656;
      border-radius: 17px;
      cursor: pointer;

      &.ed {
        background: #fff;
        color: #39393B;
        border-color: #39393B;
      }
    }
  }
}
